!!!

head
body
    form(action="/api/1.0/resource/upload", enctype="multipart/form-data", method="post")
        p
            input(type="file", name="file", size="40")
        p
            input(type="submit", value="Send")
